* {
	background: #d8dee9;
	color: #4c566a;
}

h1 {
	color: black;
	font-weight: bold;
}

h6 {
	color: #2e3440;
	font-weight: 600;
}

ul {
	padding: 0;
}

ul li {
	float: left;
	display: inline-block;
	padding-right: 1em;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: #4c566a;
}

a:hover {
	color: #81a1c1;
}
