#landing {
  background-color: aliceblue;
}

#about {
  background-color: seashell;
}

#resume {
  background-color: peachpuff;
}

#projects {
  background-color: plum;
}

#hobbies {
  background-color: powderblue;
}

footer {
  background-color: lightseagreen;
}